# Auto detect text files and perform LF normalization
* text=auto

Librerias Wiimote/**/* -linguist-vendored=true
Librerias Wiimote/**/**/* -linguist-vendored=true
Librerias Wiimote/**/**/**/* -linguist-vendored=true
